.adminLayout {
  color: var(--txt-color);
}

.adminLayout__body {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
  min-height: 100vh;
}

.adminLayout__content {
  padding: 30px;
}
